* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(90deg, rgb(242, 241, 247) 0%, rgba(100, 115, 255, 1) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 16px 0; 
  color: #fff;
  font-size: 28px; 
}

.todo-form {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
  transition: background 0.2s ease, transform 0.2s ease; 
}

.todo-button:hover {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  transform: scale(1.1); 
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
  transition: background 0.2s ease, transform 0.2s ease; 
}

.todo-button.edit:hover {
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
  transform: scale(1.1); 
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px auto; 
  color: #fff;
  background: linear-gradient(90deg, rgba(255, 200, 50, 1) 0%, rgba(255, 100, 50, 1) 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgb(19, 230, 64) 0%, rgb(10, 198, 223) 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgb(245, 11, 42) 0%, rgb(192, 224, 9) 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 10px;
  color: #ff0000;
  transition: color 0.2s ease, transform 0.2s ease; 
}

.delete-icon:hover {
  color: #ff3333; 
  transform: scale(1.4); 
}

.edit-icon {
  color: #00e600;
  transition: color 0.2s ease, transform 0.2s ease; 
}

.edit-icon:hover {
  color: #00cc00; 
  transform: scale(1.4); 
}
